
.box1{
	height: 100px;
	background: #ededed;
}


@mixin box($width){
    border: 1px solid black;
    width: $width;
    margin-top:20px;
    p{
        margin:10px;
    }
}
.box1{
    @include box(200px);
    color:red;
}
.box2{
    @include box(100px);
    color:blue;
}