<html>
<head>
	<title>CSS hover Animations</title>
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container">
		<h1>Some hover Animations</h1>
	</div>
	<div class="container">
		<div class="change-color box-container">
			<div class="box">change color</div>
		</div>
		<div class="zoom box-container">
			<div class="box">zoom</div>
		</div>
		<div class="rotate box-container">
			<div class="box">rotate</div>
		</div>
	</div>
	<div class="container">
		<div class="skew box-container">
			<div class="box">skew</div>
		</div>
		<div class="flipper-vertical box-container">
			<div class="box">flip vertical</div>
		</div>
		<div class="flipper box-container">
			<div class="box">flip horizontal</div>
		</div>
	</div>
	<div class="container">
		<div class="toRight box-container">
			<div class="box">shift to right</div>
		</div>
		<div class="bounce box-container">
			<div class="box">bounce</div>
		</div>
		<div class="bounceIn box-container">
			<div class="box">bounceIn</div>
		</div>
	</div>
	<div class="container">
		<p class="meta"><a href="https://github.com/Babsi2/generator-css-animations">Generate a specific stylesheet with Yeoman Generator</a> or <a href="https://github.com/Babsi2/css-animation-less-sass-stylus">View on GitHub</a></p>
	</div>
</body>
</html>