@mixin change-color($str) {
  &:hover{
    animation: #{$str};
  }
}

@mixin to-right($str) {
  &:hover{
    animation: #{$str};
  }  
}

@mixin bounce($str) {
  &:hover{
    animation: #{$str};
  }
}

@mixin bounceIn($str){
  &:hover{
    -animation: #{$str};
  }
}

@mixin keyframes($animationName) {
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(change-the-color) {
  0%   { background-color: rgb(255,255,0); }
  100% { background-color: rgb(255,0,255); }
} 

@include keyframes(move-the-object) {
  0%   { margin-left: 65px; margin-right: 65px; }
  100% { margin-left: 95px; margin-right: 35px; }
} 

@include keyframes(bounce) {
  0%  { margin-top: 15px;}
  25% { margin-top: 45px;}
  50% { margin-top: 25px;}
  75% { margin-top: 50px;}
  100% { margin-top: 15px;}
} 


@include keyframes(bounceIn) {
  0%, 20%, 40%, 60%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(.97, .97, .97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@mixin zoom {
  /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1); 
  -webkit-transition-duration: 500ms;
  -webkit-transition-timing-function: ease-out;
  &:hover{
    /* Webkit for Chrome and Safari */
    -webkit-transform: scale(1.2, 1.2); 
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-out;
  }
}

@mixin rotate{
  &:hover{
    transform:rotate(30deg); /* W3C */
  }
}

@mixin skew{
  &:hover{
    transform:skew(30deg); /* W3C */
    .box{
      transform:skew(-30deg); /* W3C */
    }
  }
}

@mixin flipper{
  float: left;
  perspective: 1000px;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition-duration: .2s;
  position: relative; 
  &:hover{      
    transform: rotateY(-180deg);
    backface-visibility: visible;
    transition-duration: 2s;
    transform-style: preserve-3d;
  }
}

@mixin flipper-vertical{
  float: left;
  perspective: 1000px;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition-duration: .2s;
  position: relative; 
  &:hover{      
    transform: rotateX(-180deg);
    backface-visibility: visible;
    transition-duration: 2s;
    transform-style: preserve-3d;
  }
}

.change-color{
  @include change-color('change-the-color 2s');
}

.zoom{
	@include zoom;
}

.rotate{
	@include rotate;
}

.skew{
	@include skew;
}

.toRight{
    @include to-right('move-the-object 2s');
}

.flipper{
  @include flipper;
}

.flipper-vertical{
  @include flipper-vertical;
}

.bounce{
  @include bounce('bounce 5s');
}

.bounceIn{
  @include bounceIn('bounceIn 5s');
}